[Unit]
Description=Adobe Experience Manager

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/aem start
ExecStop=/bin/bash /usr/bin/aem stop
ExecReload=/bin/bash /usr/bin/aem restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
